.articles{
  width: 100%;
  min-height: 100vh;
  background-color: #050d22;
  padding-bottom: 50px;
}
.articleWrapper{
  width: 100%;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}