.comment {
  width: 80%;
  margin: 50px auto;
}
.head {
  margin: 10px;
  font-family: monospace;
  font-size: 1.5rem;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}
.form {
  border-radius: 5px;
  padding: 30px;
  background-color: #2b2b35;
  margin: 20px 0px;
}
.commentBox,
.name,
.email {
  width: 100%;
  margin: 10px 0px;
  border-radius: 5px;
  color: white;
  background-color: #23232d;
  padding: 20px;
}
.form button {
  margin: 10px 0px;
  background-color: orange;
  border-radius: 5px;
  padding: 7px 20px;
  letter-spacing: 1px;
  font-weight: bold;
}
@media screen and (max-width: 400px) {
  .commentBox,
  .name,
  .email {
    padding: 10px;
  }
  .form {
    padding: 10px;
  }
  .head {
    font-size: 1rem;
  }
}
