.heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading span {
  color: rgb(241, 241, 241);
  font-size: 2rem;
  font-weight: bold;
}
.heading img {
  margin: 20px;
  width: 50px;
  background-color: orange;
  padding: 2px;
  border-radius: 50%;
}
.tagLine {
  font-size: 1.1rem;
  color: rgba(245, 222, 179, 0.915);
  font-family: cursive;
  text-shadow: 0px 0px 10px #64ffda;
  text-align: center;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin: 0px 90px;
  margin-bottom: 50px;
}
.note {
  margin: auto;
  width: 70%;
  color: grey;
  letter-spacing: 2px;
  word-spacing: 4px;
  border-left: 5px solid orange;
  padding: 5px 20px;
  margin-bottom: 50px;
}
.author {
  font-size: 1.2rem;
  color: whitesmoke;
  font-family: cursive;
}

@media screen and (max-width: 600px) {
  .tagLine {
    margin: 20px 30px;
    font-size: 0.9rem;
  }
  .heading span{
    font-size: 1.5rem;
  }
  .note{
    width: 90%;
    font-size: 0.9rem;
    letter-spacing: normal;
  }
}
