.NavSec {
  margin-top: 100vh;
  position: relative;
  padding-bottom: 50px;
  background-color: #fcfcfc;
  width: 100%;
}
.design {
  position: absolute;
  left: 0px;
  top: -95px;
  background-color: #fcfcfc;
  width: 100%;
  height: 6rem;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.abt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 85%;
  border-radius: 10px;
  box-shadow: 0px 2px 5px grey;
  background-color: #fcfcfc;
}
.abt div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0px 50px;
}
.abt div p {
  color: #5d84c7;
  word-spacing: 4px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 15px;
}
.abt div a {
  text-decoration: none;
  font-family: monospace;
  margin: 10px;
  color: brown;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 0.9rem;
  padding: 5px 20px;
  border: none;
}
.abt div a:hover {
  cursor: pointer;
  transform: scale(0.95);
}
@media screen and (max-width: 1000px) and (min-width: 800px) {
  .abt {
    width: 95%;
  }
}
@media screen and (max-width: 800px) and (min-width: 600px) {
  .abt {
    flex-direction: column;
    width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .abt {
    flex-direction: column;
    width: 95%;
  }
  .abt div {
    padding: 0px;
  }
  .abt div a:hover {
    transform: scale(1);
  }
}
