.container {
  width: 100%;
  height: fit-content;
  padding: 50px 20px;
  /* background-color: rgb(241, 241, 241); */
  background-color: #20202a;
  /* background: linear-gradient(
    144deg,
    rgba(9, 25, 33, 1) 0%,
    rgba(121, 9, 105, 1) 71%,
    rgba(255, 0, 95, 1) 100%
  ); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container>div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.container>div:nth-child(2){
    color: white;
    letter-spacing: 1px;
    text-align: center;
}
.container>div:nth-child(2) h3{
    font-size: 2rem;
    font-weight: bold;
}
.qrWrap img{
    width: 300px;
    border-radius: 20px;
    box-shadow: 0px 20px 30px -15px rgba(2, 12, 27, 0.7);
}
.btnWrap{
    display: flex;
    margin: 20px 0px;
}
.container button{
    width: fit-content;
    letter-spacing: 1px;
    font-size: 1rem;
    color: white;
    background-color: orange;
    border-radius: 10px;
    display: flex;
    padding: 10px 20px;
    margin: 20px;
    transition: all 0.04s;
}
.container button:hover{
    cursor: pointer;
    background-color: #050d22;
}
@media screen and (max-width: 800px) {
    .container{
        flex-direction: column;
    }
    .container>div{
        width: 100%;
    }
    .qrWrap img{
        width: 200px;
    }
    .btnWrap{
        flex-direction: column;
    }
}