.recommend {
  padding: 20px;
  width: 100%;
  min-height: 50vh;
  background: rgb(9, 25, 33);
  background: linear-gradient(
    144deg,
    rgba(9, 25, 33, 1) 0%,
    rgba(121, 9, 105, 1) 71%,
    rgba(255, 0, 95, 1) 100%
  );
}
.recommend h1 {
  color: white;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
}
.container {
  width: 90%;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 350px) {
  .recommend h1 {
    font-size: 1.5rem;
  }
}
