.utilities {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px;
  background-color: #050d22;
}
.utilityWrapper {
  width: 80%;
  margin: auto;
  min-height: 50vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
