#workweb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 70vh;
  padding-top: 25px;
  background-color: rgb(241, 241, 241);
}
.workwebbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  min-height: 40vh;
  border-radius: 10px;
  background-color: white;
}
.workwebhead {
  width: 100%;
  height: 40px;
  letter-spacing: 2px;
  color: whitesmoke;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #050d22;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.workwebbody {
  padding: 20px;
}
.workwebbody div {
  margin: 20px;
  letter-spacing: normal;
  word-spacing: 2px;
  font-family: monospace;
  font-size: 1rem;
  color: grey;
}
.workweblogo {
  margin: 10px;
  float: left;
  width: 70px;
}
.formlink {
  color: white;
  margin-bottom: 50px;
  padding: 7px 30px;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid orange;
}
.formlink:hover {
  transform: scale(0.95);
}
@media screen and (max-width: 1000px) and (min-width: 800px) {
  .workwebbody {
    padding: 10px;
  }
}
@media screen and (max-width: 800px) and (min-width: 500px) {
  #workweb {
    flex-direction: column;
  }
  .workwebbody {
    padding: 10px;
  }
}
@media screen and (max-width: 500px) {
  #workweb {
    flex-direction: column;
  }
  .workwebbox {
    margin: 20px;
    font-size: 1rem;
  }
  .workwebbody {
    padding: 10px;
  }
  .formlink:hover {
    transform: scale(1);
  }
}
